:root {
  --white: rgb(255, 255, 255);
  --background-blue: rgb(240, 242, 245);
  --logo-green: rgb(31, 215, 28);
  --menu-color: rgb(2, 48, 71);
  --search-label: rgb(96, 86, 86);
  --serch-input-border: rgb(167, 167, 167);
  --recepie-header: rgb(148, 169, 175);
  --breakfast-color: rgb(95, 173, 86);
  --second-breakfast-color: rgb(242, 193, 78);
  --dinner-color: rgb(247, 129, 84);
  --blue-add-color: rgb(95,168,211);
  --snack-color:rgb(180, 67, 108);
  --supper-color:rgb(121,104,110);
  --greey: rgb(194,194,194);
}

body {
  background-color: var(--background-blue);
}

a{
  color: var(--search-label);
  text-decoration:none;
}

.white-background {
  background-color: var(--white);
}

.recepie-header-color {
  background-color: var(--recepie-header);
}

.recepie-header-border{
  border-radius: 15px 0px 0px 0px;
}

.recepie-meal-color-breakfast{
  background-color: var(--breakfast-color);
}

.recepie-meal-color-second-breakfast{
  background-color: var(--second-breakfast-color);
}

.recepie-meal-color-dinner{
  background-color: var(--dinner-color);
}

.recepie-meal-color-snack{
  background-color: var(--snack-color);
}

.recepie-meal-color-supper{
  background-color: var(--supper-color);
}

.recepie-header-font {
  color: var(--white);
  font-size: 0.85rem;
  font-weight: 600;
}

.greey-font{
  color: var(--greey);
}

.recepie-font-size{
  font-size: 0.85rem;
}

.recepie-font{
  font-size: 0.85rem;
  color: var(--search-label);
}

.recepie-meal-border{
  border-radius: 0px 15px 0px 0px;
}
.recepie-container{
  border-radius: 15px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}


.logo {
  color: var(--logo-green);
  padding-left: 5%;
}

.top-height {
  height: 12vh;
  background-color: var(--white);
}

.menu-color {
  color: var(--menu-color);
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.menu-color:hover {
  color: var(--logo-green);
}

.search-label {
  color: var(--search-label);
  font-size: 1.5rem;
  font-weight: 500;
}

.search-input {
  padding: 20px 20px;
  margin: 8px 0;
  font-size: 1.5rem;
  color: var(--search-label);
  border-radius: 10px;
  border: 1px solid var(--serch-input-border);
}

.min-height{
  min-height: 65px;
}

.icon-size{
  height: 15px;
}

.icon-size-full-recpie{
  height: 25px;
  margin: 5px;
}

.recepie-font-spacing{
  line-height: 1.1rem;
}

.font-bold{
  font-weight: 600;
}

.add-button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--blue-add-color);
    transition: 0.25s;
}

.add-button:hover{
  background-color: var(--logo-green);
  transform: rotate(90deg);
}

.cross-button{
  height: 3px;
  width: 20px;
  background-color: var(--white);
  border-radius: 15px;
  position: relative;
}

.cross-button:after{
  content: '';
  height: 3px;
  width: 20px;
  background-color: var(--white);
  border-radius: 15px;
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
}

.cursor{
  cursor: pointer;
}

.recepie-text-left{
  text-align: left !important;
}

.min-h{
  min-height: 170px;
  max-height: 170px;
}

@media (max-width: 575.98px) { 
  .recepie-font{
    font-size: 0.95rem;
  }
}