:root {
  --white: rgb(255, 255, 255);
  --background-blue: rgb(240, 242, 245);
  --logo-green: rgb(31, 215, 28);
  --menu-color: rgb(2, 48, 71);
  --search-label: rgb(96, 86, 86);
  --serch-input-border: rgb(167, 167, 167);
  --recepie-header: rgb(127, 183, 190);
  --recepie-header-hover: rgb(139, 199, 207);
  --breakfast-color: rgb(95, 173, 86);
  --second-breakfast-color: rgb(242, 193, 78);
  --dinner-color: rgb(247, 129, 84);
  --blue-add-color: rgb(95, 168, 211);
  --snack-color: rgb(180, 67, 108);
  --supper-color: rgb(121, 104, 110);
  --greey: rgb(194, 194, 194);
  --red: rgb(231, 56, 56);
  --user-recepie-hover-color: rgb(245, 232, 213);
  --generate-list-button-color: rgb(148, 169, 175);
  --day-item-hover: rgb(255, 211, 117);
}

body {
  background-color: var(--background-blue);
}

a {
  color: var(--search-label);
  text-decoration: none;
}

.white-background {
  background-color: var(--white);
}

.recepie-header-color {
  background-color: var(--recepie-header);
}

.recepie-header-color:hover {
  background-color: var(--recepie-header-hover);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.recepie-header-border {
  border-radius: 15px 0px 0px 0px;
}

.recepie-meal-color-breakfast {
  background-color: var(--breakfast-color);
}

.recepie-meal-color-second-breakfast {
  background-color: var(--second-breakfast-color);
}

.recepie-meal-color-dinner {
  background-color: var(--dinner-color);
}

.recepie-meal-color-snack {
  background-color: var(--snack-color);
}

.recepie-meal-color-supper {
  background-color: var(--supper-color);
}

.recepie-header-font {
  color: var(--white);
  font-size: 0.85rem;
  font-weight: 600;
}

.greey-font {
  color: var(--greey);
}

.dark-font {
  color: var(--menu-color);
}

.recepie-font-size {
  font-size: 0.85rem;
}

.recepie-font {
  font-size: 0.85rem;
  color: var(--search-label);
}

.dashboard-font {
  font-size: 2.0rem;
}

.recepie-meal-border {
  border-radius: 0px 15px 0px 0px;
}

.recepie-container {
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.recepie-container:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.24);
}

.logo {
  color: var(--logo-green);
  padding-left: 5%;
}

.top-height {
  min-height: 80px;
  height: 11vh;
  background-color: var(--white);
}

.menu-color {
  color: var(--menu-color);
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.menu-color:hover {
  color: var(--logo-green);
}

.search-label {
  color: var(--search-label);
  font-size: 1.5rem;
  font-weight: 500;
}

.search-input {
  padding: 20px 20px;
  margin: 8px 0;
  font-size: 1.5rem;
  color: var(--search-label);
  border-radius: 10px;
  border: 1px solid var(--serch-input-border);
}

.min-height {
  min-height: 65px;
}

.icon-size-15 {
  height: 15px;
}

.icon-size-30 {
  max-height: 30px;
}

.icon-size-full-recpie {
  height: 25px;
  margin: 5px;
}

.recepie-font-spacing {
  line-height: 1.1rem;
}

.font-bold {
  font-weight: 600;
}

.add-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--blue-add-color);
  border: none;
  transition: 0.25s;
}

.add-button:hover {
  background-color: var(--logo-green);
  transform: rotate(90deg);
}

.cross-button {
  height: 3px;
  width: 20px;
  background-color: var(--white);
  border-radius: 15px;
  position: relative;
}

.cross-button:after {
  content: '';
  height: 3px;
  width: 20px;
  background-color: var(--white);
  border-radius: 15px;
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
}

.minus-button {
  height: 3px;
  width: 20px;
  background-color: var(--white);
  border-radius: 15px;
  position: relative;
}

.add-button-shoplist {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--greey);
  transition: 0.25s;
}

.minus-button:hover,
.add-button-shoplist:hover {
  background-color: var(--menu-color);
}


.cursor {
  cursor: pointer;
}

.recepie-text-left {
  text-align: left !important;
}

.min-h {
  min-height: 160px;
  max-height: 170px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7; 
  -webkit-box-orient: vertical;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.content-height {
  height: 82vh;
}

.person-font {
  font-size: 1.5rem;
}

.loader {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--logo-green) var(--background-blue) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--snack-color) #FF3D00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: var(--blue-add-color) var(--background-blue) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

.img-size {
  width: 100%;
}

.img-index {
  margin: 2%;
  max-height: 80vh;
  margin-left: 5%;
  max-width: 95%;
}

.index-image-text{
  padding: 5px;
  color: var(--breakfast-color);
  text-shadow: 0 5.36px 4.896px rgba(0, 0, 0, 0.1);
  line-height: 1.0;
  font-size: 3vw;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .007em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.image-top-text-lower{
  color: rgb(240, 240, 240);
  background-color: #3ca8c4;
  padding: 5px;
}


.image-top-text{
  font-size: 4vw;
}

.index-button{
  margin: 1px;
}

.start-50 {
  left: 70% !important;
  width: max-content;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

#loader_container {
  display: block;
  justify-content: center;
}

#content-container {
  display: none;
}

@media (max-width: 992px) {
  .min-h {
    min-height: auto;
}
}

@media (max-width: 575.98px) {
  .recepie-font {
    font-size: 0.95rem;
  }
}