:root {
    --white: rgb(255, 255, 255);
    --background-greey: rgb(241,241,241);
    --logo-green: rgb(31,215,28);
    --menu-color: rgb(2,48,71);
    --search-label: rgb(105,105,105);
    --serch-input-border: rgb(167,167,167);
  }
  
  .logo{
    color: var(--logo-green);
    padding-left: 5%;
  }

  .top-height{
    height: 12vh;
    background-color: var(--white);
  }

  body{
    background-color: var(--background-greey);
  }

  .menu-color{
    color: var(--menu-color);
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
  }

  .menu-color:hover{
    color:var(--logo-green);
  }
  
  .search-label{
    color: var(--search-label);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .search-input{
      padding: 20px 20px;
      margin: 8px 0;
      font-size: 1.5rem;
      color: var(--search-label);
      border-radius: 10px;
      border:  1px solid var(--serch-input-border);
  }