{% extends "disher/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static '/css/dashboard.css'%}">
<link rel="stylesheet" href="{%static '/css/day.css'%}">
{% endblock %}
{% block content %}

<div class="content-height" id="loader_container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
</div>


<div class="container-fluid justify-content-center align-items-center mt-5 col-lg-6 col-12" id="content-container">
    <div class="row d-flex mt-2 m-1">
        <form action="" method="post" id="recepie_add">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="form-group col-lg-12 col-12">
                    <label for="dish_title">Nazwa potrawy</label>
                    <input type="text" class="form-control" id="dish_title" name="dish_title" oninput="checkDishFielsdValidity();" required>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
<!-- 
                <div class="form-group col-lg-4 col-12">
                    <label for="dish_calories" >Kaloryczność </label>
                    <input type="number" class="form-control " id="dish_calories" name="dish_calories" oninput="checkDishFielsdValidity();" required>
                </div> -->
                
                <div class="form-group col-lg-4 col-12">
                    <label for="duration" >Czas przygotwania </label>
                    <select class="form-control" name="duration" id="duration" onchange="checkDishFielsdValidity();" required>
                        <option value="S" >Szybki ( < 30 min ) </option>
                        <option value="M" >Średni ( 30-60 min ) </option>
                        <option value="L" >Długi ( > 60  min ) </option>
                      </select>
                </div>
                <div class="form-group col-lg-4 col-12">
                    <label for="type_of_meal" >Typ posiłku</label>
                    <select class="form-control" name="type_of_meal" id="type_of_meal" onchange="checkDishFielsdValidity();" required>
                        <option value="B" >Śniadanie</option>
                        <option value="B2" >2 Śniadanie</option>
                        <option value="D" >Obiad</option>
                        <option value="D2" >Przekąska</option>
                        <option value="S" >Kolacja</option>
                    </select>
                </div>
            </div>

            <div class="row text-center mt-3" id="productsContainer">
                <div class="col-12 d-flex align-items-center justify-content-center" id="productsContainerHeader">
                    <div class="col-12 d-flex align-items-center justify-content-around mb-1" >
                        <div class="col-lg-2  text-center dark-font font-bold">Produkt</div>
                        <div class="col-lg-7  text-start dark-font font-bold ">Ilość</div>
                        <div class="col-lg-2  text-center"></div>
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-2 m-1" id="productsList">
                </div>
            </div>
            
            <div class="row mt-3" id="addProductContainer">
                <div class="form-group col-lg-6 col-12" id="dishProductSearchContainer">
                    <label for="dish_product_search" >Wyszukaj produkt </label>
                    <input type="text" class="form-control" id="dish_product_search" name="dish_product_search" onkeydown="debouncedSearchData();" oninput="checkProductFieldsValidity();" required>
                </div>
                <div class="form-group col-lg-3 col-12">
                    <label for="dish_product_amount" >Ilość</label>
                    <input type="number" class="form-control" id="dish_product_amount" step="0.01" name="dish_product_amount" oninput="checkProductFieldsValidity();" required>
                </div>
                <div class="form-group col-lg-3 col-12">
                    <label for="product_unit">Jednostka</label>
                    <select class="form-control" name="product_unit" id="product_unit" onchange="checkProductFieldsValidity();">
                        <option value="kg">kg</option>
                        <option value="gr">gr</option>
                        <option value="ml">ml</option>
                      </select>
                </div>
                
            </div>
            
            <div class="row text-center mt-3" id="productBox">
            </div>

            <div class="row text-center mt-3 justify-content-center align-items-center" id="productLoader">
                <div class="loader"></div>
            </div>
            

            
            <div class="row m-4 justify-content-center align-items-center " id="productButtonsContainer">
                <button class="col-lg-2 col-sm-3 mt-2 m-1  btn btn-primary " type="button" onclick="saveProduct();checkDishFielsdValidity();" id="saveButton">Zapisz składnik</button>
                <button class="col-lg-2 col-sm-3 mt-2 m-1  btn btn-danger " type="button" onclick="productCancelButton();" id="cancelButton">Anuluj</button>
            </div>
           
            <div id="addContainertBox">
                <div class="row text-center mt-3">
                    <h4 class="font-bold">Dodaj składniki</h4>
                </div>
                   <div class="col-12 d-flex justify-content-center">
                    <button class="add-button d-flex align-items-center justify-content-center cursor m-2 mb-3" type="button" id="addProductButton" onclick="showProductContainer();">
                        <div class="cross-button"></div>
                    </button>
                </div>
            </div>
         
            <div class="form-group mt-2">
                <label for="dishDescription">Opis przygotowania</label>
                <textarea class="form-control" id="dishDescription" type="text" name="dishDescription" rows="3" oninput="checkDishFielsdValidity();" required></textarea>
            </div>

            <input type="hidden" id="json_data" name="json_data" value=''>

            <div class="row m-4 justify-content-center align-items-center ">
                <button class="col-lg-2 col-sm-3 mt-2 m-2  btn btn-primary" type="submit" onclick="saveDishButtonClick();" id="saveDishButton">Zapisz</button>
                <button class="col-lg-2 col-sm-3 mt-2 m-2  btn btn-danger" type="button" onclick="cancelDishButtonClick();" id="cancelDishButton" >Anuluj</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}