{% extends "disher/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static '/css/dashboard.css'%}">
<link rel="stylesheet" href="{%static '/css/day.css'%}">
{% endblock %}
{% block content %}

<div class="content-height" id="loader_container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
</div>



<div class="container-fluid justify-content-center text-center align-items-center" id="content-container">

    <div class="row d-flex align-items-center justify-content-center mlg-5 m-1 mt-3">
        <!-- Przyciski zakładek przepisów użytkonwnika -->
        <ul class="nav nav-pills mb-3 center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="btn day-element white-background m-1 p-3" class="nav-link active"
                    id="pills-favourite-tab" data-bs-toggle="pill" data-bs-target="#pills-favourite" type="button"
                    role="tab" aria-controls="pills-favourite" aria-selected="false"
                    onclick="toggleDishesTab('pills-favourite-tab')">Ulubione przepisy</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn day-element white-background m-1 p-3" class="nav-link" id="pills-userrecepie-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab"
                    aria-controls="pills-contact" aria-selected="true"
                    onclick="toggleDishesTab('pills-userrecepie-tab')">Twoje przepisy</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn day-element white-background m-1 p-3" class="nav-link" id="pills-search-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-search" type="button" role="tab"
                    aria-controls="pills-search" aria-selected="true"
                    onclick="toggleDishesTab('pills-search-tab')">Szukaj przepisu</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn day-element white-background m-1 p-3" class="nav-link" id="pills-allrecepies-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-allrecepies" type="button" role="tab"
                    aria-controls="pills-allrecepies" aria-selected="false"
                    onclick="toggleDishesTab('pills-allrecepies-tab')">Wszystkie przepisy </button>
            </li>
        </ul>
        <!-- Zakłada przepisów użytkonwnika -->
        <div class="tab-content" id="pills-tabContent">
            <!-- Ulubione przepisy -->
            <div class="tab-pane fade show active" id="pills-favourite" role="tabpanel"
                aria-labelledby="pills-favourite-tab" tabindex="0">
                <div class="col-12 empty-screen-font greey-font"></div>

                {% for favourite in favourite_list|slice:":3" %}
                <div class="col-12 d-flex align-items-center justify-content-center mt-2 m-1 user-favourite-recepie-class"
                    id="f-{{forloop.counter}}">
                    <div
                        class="col-lg-6 col-12 p-1 d-flex align-items-center justify-content-between user-favourite-recepie-container white-background">
                        <div class="col-2 d-none d-sm-block  text-center m-3 font-bold cursor">
                            {% if favourite.dish_type == 'B' %}
                            Śniadanie
                            {% elif favourite.dish_type == 'B2' %}
                            2 Śniadanie
                            {% elif favourite.dish_type == 'D' %}
                            Obiad
                            {% elif favourite.dish_type == 'D2' %}
                            Przekąska
                            {% elif favourite.dish_type == 'S' %}
                            Kolacja
                            {% endif%}
                        </div>
                        <div class="col-md-7 col-sm-7 col-9 m-3  text-center cursor"
                            onclick="location.href='/recepie/'+'{{favourite.slug}}'">
                            {{favourite.dish_name}}</div>
                        <div class="col-2">
                            <img src="/static/img/share.svg"
                                class="cursor user-recepie-icons-padding user-recepie-icons-size user-recepie-icons-share-size"
                                onclick="copyToClipboard('/recepie/'+'{{favourite.slug}}')">
                        </div>

                    </div>
                </div>
                {% endfor %}
                <span class="col-12" id="yourFavourites"></span>
                <div class="row col-12 d-flex align-items-center justify-content-center mt-2 m-1">
                    <img src="/static/img/expand.svg" class="user-recepie-icons-size cursor"
                        onclick="getUserFavouriteRecepies()" id="expandFavouriteImage">
                </div>
            </div>

            <!-- Twoje przepisy -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-userrecepie-tab"
                tabindex="0">
                <div class="col-12 empty-screen-font greey-font"></div>
                {% for dish in user_dishes|slice:":3"%}
                <div class="col-12 d-flex align-items-center justify-content-center mt-2 m-1 user-recepie-class"
                    id="u-{{forloop.counter}}">
                    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-between user-recepie-container white-background"
                        id="user-recepie-{{ forloop.counter }}">
                        <div class="col-2 d-none d-sm-block text-center m-3 font-bold cursor">
                            {% if dish.dish_type == 'B' %}
                            Śniadanie
                            {% elif dish.dish_type == 'B2' %}
                            2 Śniadanie
                            {% elif dish.dish_type == 'D' %}
                            Obiad
                            {% elif dish.dish_type == 'D2' %}
                            Przekąska
                            {% elif dish.dish_type == 'S' %}
                            Kolacja
                            {% endif%}
                        </div>
                        <div class="col-10 col-sm-7 p-3  text-center cursor"
                            onclick="location.href='/recepie/'+'{{dish.slug}}'">
                            {{dish.dish_name}}</div>
                        <div class="col-2 d-flex align-items-center justify-content-center  text-center">
                            <img src="/static/img/share.svg"
                                class="cursor user-recepie-icons-padding user-recepie-icons-size user-recepie-icons-show"
                                onclick="copyToClipboard('/recepie/'+'{{dish.slug}}')">
                            <img src="/static/img/options.svg"
                                class="cursor user-recepie-icons-padding user-recepie-icons-size m-3"
                                id="recepie-options-id-click">
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-between recepie-container white-background user-recepie-options-id"
                        id="user-options-{{ forloop.counter }}">
                        <div class="col-4  text-center m-3 font-bold cursor dark-font"
                            onclick="location.href='/recepie/edit/'+'{{dish.slug}}'">Edytuj</div>
                        <div class="col-5  text-center cursor font-bold dark-font recepie-options-delete"
                            id="recepie-options-delete-click" onclick="deleteUserRecepie({{dish.id}})">Usuń</div>
                        <div class="col-2 d-flex align-items-center justify-content-center text-center">
                            <img src="/static/img/close.svg"
                                class="cursor user-recepie-icons-padding user-recepie-icons-size m-3"
                                id="recepie-options-id-close-click" onclick="optionsClick({{forloop.counter}})">
                        </div>
                    </div>
                </div>
                {% endfor %}
                <span class="col-12" id="yourDishes"></span>
                <div class="row col-12 d-flex align-items-center justify-content-center mt-2 m-1">
                    <img src="/static/img/expand.svg" class="user-recepie-icons-size cursor" onclick="getUserRecepies()"
                        id="expandImage">
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center empty-screen-font greey-font">Dodaj
                    przepis</div>
                <div class="col-12 d-flex justify-content-center">
                    <button class="add-button d-flex align-items-center justify-content-center cursor m-2 mb-3"
                        type="button" onclick="location.href='/user/add/recepie'">
                        <div class="cross-button"></div>
                    </button>
                    </button>
                </div>
            </div>
            <!-- Wyszukaj przepis -->
            <div class="tab-pane fade" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab"
                tabindex="0">
                <form method="post" id="dashboardFormSearch" class="search-background-color">
                    {% csrf_token %}
                    <div class="modal-body modal-body-bottom-padding px-0">
                        <div class="container-fluid mt-3 px-0">
                            <!-- kontener wyszukiwania  -->
                            <div class="row m-1">
                                <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-input" id="searchOnDashboard"
                                            aria-describedby="basic-addon3" placeholder="Wyszukaj przepis"
                                            onkeyup="searchRecepie('dashboard','searchOnDashboard','dashboardRecepieContainer' );">
                                    </div>
                                </div>
                            </div>
                            <div class="container justify-content-center">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <div class="loader" id="spinner_container" style="display: none;"></div>
                                </div>
                                <div class="row justify-content-center" id="dashboardRecepieContainer"></div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <!-- Wszystkie przepisy -->
            <div class="tab-pane fade" id="pills-allrecepies" role="tabpanel" aria-labelledby="pills-allrecepies-tab"
                tabindex="0">
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div
                            class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1 justify-content-left font-bold mb-3">
                            Wszystkie przepisy ({{ total_recipes }})
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                            {% if grouped_recepies %}
                            <div class="accordion" id="recipesAccordion">
                                {% for letter, dishes in grouped_recepies.items %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ letter }}">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse{{ letter }}"
                                            aria-expanded="false" aria-controls="collapse{{ letter }}">
                                            <strong style="font-size: 1.3rem;">{{ letter }}</strong>
                                            <span class="ms-3 text-muted">({{ dishes|length }} przepisów)</span>
                                        </button>
                                    </h2>

                                    <div id="collapse{{ letter }}" class="accordion-collapse collapse"
                                        aria-labelledby="heading{{ letter }}" data-bs-parent="#recipesAccordion">
                                        <div class="accordion-body p-3">
                                            <div class="row justify-content-center">
                                                {% for recepie in dishes %}
                                                <div class="col-10 col-md-9 text-center user-favourite-recepie-container-all m-3 recepie-search-result-container cursor all-recepie-item-border p-3 p-md-1"
                                                    id="{{recepie.id}}"
                                                    onclick="location.href='/recepie/{{recepie.slug}}'">
                                                    <div
                                                        class="d-flex row align-items-center justify-content-center align-items-center">
                                                        <div
                                                            class="d-flex align-items-center justify-content-center col-12 col-md-6 p-1 p-md-2 min-height">
                                                            {{recepie.dish_name}}
                                                        </div>
                                                        <div class="col-6 col-md-2">
                                                            {{recepie.dish_calories}} kcal
                                                        </div>

                                                        <div class="col-6 col-md-4 ">
                                                            {% if recepie.preparation_time == 'S' %}
                                                            5-30 min
                                                            {% elif recepie.preparation_time == 'M' %}
                                                            30-60 min
                                                            {% elif recepie.preparation_time == 'L' %}
                                                            60+ min
                                                            {% endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <p class="text-center">Brak dostępnych przepisów.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row col-12 align-items-center justify-content-center m-3 " id="shopListContainer">
            <button
                class="btn btn-primary col-lg-2 col-md-4 col-8  generate-shoplist-button-color generate-shoplist-button"
                id="generateShopList" onclick="getDaysProductsList();">
                Generuj listę zakupów
            </button>
        </div>

        <div class="container-fluid" id="mainDashboard">
            <div class="row align-items-stretch justify-content-center mt-3">
                <!-- Empty day -->
                <div class="col-12">
                    <div>
                        <div class="col-12 empty-screen-font greey-font">Utwórz dzień</div>
                        <div class="col-12 d-flex justify-content-center">
                            <button class="add-button d-flex align-items-center justify-content-center cursor m-2 mb-3"
                                type="button" onclick="addNewDay()">
                                <div class="cross-button"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Modal dodawania posiłków-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Wybierz posiłek</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="modalForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select class="form-select" aria-label="Default select example" name="selectedMeal"
                            id="selectedMeal">
                            <option value="Breakfast" selected>Śniadanie</option>
                            <option value="Dinner">Obiad</option>
                            <option value="Dessert">Przekąska</option>
                            <option value="Supper">Kolacja</option>
                        </select>
                    </div>
                    <div class="modal-footer justify-content-center" id="dayAddButtonID">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            onclick="addDishMeal('day-4-add');">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal wyszukiwania posiłków do dodania -->

    <div class="modal fade" id="staticBackdropSearch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Wybierz posiłek</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="clearInput();"></button>
                </div>
                <form method="post" id="modalFormSearch" class="search-background-color">
                    {% csrf_token %}
                    <div class="modal-body modal-body-bottom-padding">
                        <div class="container mt-3">
                            <!-- kontener wyszukiwania  -->
                            <div class="row m-1">
                                <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-input" id="search"
                                            aria-describedby="basic-addon3" placeholder="Wyszukaj przepis"
                                            onkeyup="searchRecepie('modal', 'search', 'recepieContainer');">
                                    </div>
                                </div>
                            </div>

                            <div class="container justify-content-center">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <div class="loader" id="spinner_container" style="display: none;"></div>
                                </div>
                                <div class="row justify-content-center" id="recepieContainer"></div>
                            </div>

                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Ulubione przepisy
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body accordion-body-custom ">
                                            <div class="card card-body search-background-color card-custom">
                                                <div class="row justify-content-center" id="favouriteContainer">
                                                    {% if favourite_list %}

                                                    <span class="row justify-content-center" id="favouriteRecepiesSpan">
                                                        {% for favourite in favourite_list %}

                                                        <div class="col-10 text-center user-favourite-recepie-container-all m-3 recepie-search-result-container cursor all-recepie-item-border p-3 p-md-1 addMealButtonSelector white-background"
                                                            id="{{favourite.id}}" data-bs-dismiss="modal" type="button"
                                                                        onclick="addMealToDay('{{user_day}}', '{{favourite.slug}}', '{{favourite.dish_name}}', ' {{favourite.dish_calories}}');">
                                                            <div
                                                                class="d-flex row align-items-center justify-content-center align-items-center">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-center col-12 col-md-6 p-1 p-md-2 min-height">
                                                                    {{favourite.dish_name}}
                                                                </div>
                                                                <div class="col-4 col-md-2">
                                                                    {{favourite.dish_calories}} kcal
                                                                </div>

                                                                <div class="col-4 col-md-2 ">
                                                                    {% if favourite.preparation_time == 'S' %}
                                                                    5-30 min
                                                                    {% elif favourite.preparation_time == 'M' %}
                                                                    30-60 min
                                                                    {% elif favourite.preparation_time == 'L' %}
                                                                    60+ min
                                                                    {% endif%}
                                                                </div>

                                                                <!-- <div
                                                                    class="d-flex col-2  col-md-2 align-items-center justify-content-center cursor m-2 mb-3 addMealButtonSelectorContainer">
                                                                    <button
                                                                        class="add-button d-flex align-items-center justify-content-center cursor m-2 mb-3 addMealButtonSelector"
                                                                        data-bs-dismiss="modal" type="button"
                                                                        onclick="addMealToDay('{{user_day}}', '{{favourite.slug}}', '{{favourite.dish_name}}', ' {{favourite.dish_calories}}');">
                                                                        <div class="cross-button"></div>
                                                                    </button>
                                                                </div> -->
                                                            </div>
                                                        </div>

                                                        {% endfor %}
                                                    </span>
                                                    <!-- <img src="/static/img/expand.svg"
                                            class="user-recepie-icons-size cursor image-rotated"
                                            onclick="hideFavouriteInModal();" id="expandFavouriteImageinModal">
                                        {% endif %} -->
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo"
                                            onclick="recepieType('B')">
                                            Śniadanie
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body accordion-body-custom ">
                                            <div class="container justify-content-center search-background-color">
                                                <div class="h-100 d-flex justify-content-center align-items-center">
                                                    <div class="loader" id="spinner_container" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center" id="bContainerDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree"
                                            onclick="recepieType('D');">
                                            Obiad
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body accordion-body-custom ">
                                            <div class="container justify-content-center search-background-color">
                                                <div class="h-100 d-flex justify-content-center align-items-center">
                                                    <div class="loader" id="spinner_container" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center" id="dContainerDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour"
                                            onclick="recepieType('D2');">
                                            Przekąska
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body accordion-body-custom ">
                                            <div class="container justify-content-center search-background-color">
                                                <div class="h-100 d-flex justify-content-center align-items-center">
                                                    <div class="loader" id="spinner_container" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center" id="d2ContainerDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive"
                                            onclick="recepieType('S');">
                                            Kolacja
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body accordion-body-custom ">
                                            <div class="container justify-content-center search-background-color">
                                                <div class="h-100 d-flex justify-content-center align-items-center">
                                                    <div class="loader" id="spinner_container" style="display: none;">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center" id="sContainerDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="row justify-content-center" id="recepieContainer">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}