{% extends "disher/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row top-height align-items-center">
        <div class="col-lg-10 col-sm-8 col-6">
            <h1 class="logo">Disher</h1>
        </div>
        <div class="col-lg-1 col-sm-2 col-3 text-center menu-color">
            zarejestruj
        </div>
        <div class="col-lg-1 col-sm-2 col-3 text-center menu-color">
            zaloguj
        </div>
    </div>
    <div class="row m-1">
        <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
            <label for="search" class="search-label mt-2 mb-2">Szukaj</label>
            <div class="input-group">
                <input type="text" class="form-control search-input" id="search" aria-describedby="basic-addon3"
                    placeholder="Wpisz czego szukasz">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-3 col-md-5 col-sm-12 align-items-center justify-content-center text-center recepie-container white-background m-1">
                <div class="d-flex row align-items-center align-items-stretch">
                    <div class="d-flex align-items-center justify-content-center col-8 recepie-header-color recepie-header-font recepie-header-border p-2 min-height">
                        Kanapka z awokado i gruszką</div>
                    <div class="d-flex align-items-center justify-content-center col-4 recepie-meal-breakfast recepie-header-font recepie-meal-color-breakfast recepie-meal-border p-2">
                        Śniadanie</div>
                    <div class="col-8 p-3 recepie-font">Chleb zapiecz w tosterze a następnie posmaruj tosty pastą z awokado, ułóż
                        plastry gruszki i ser gorgonzola lub blue...</div>
                    <div class="col-4 p-3 recepie-font">Śniadanie</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-12 align-items-center justify-content-center  text-center recepie-container white-background m-1">
                <div class="d-flex row align-items-center align-items-stretch">
                    <div
                        class="d-flex align-items-center justify-content-center col-8 recepie-header-color recepie-header-font recepie-header-border p-2 min-height">
                        Kanapka z mozarellą</div>
                    <div
                        class="d-flex align-items-center justify-content-center col-4 recepie-meal-breakfast recepie-header-font recepie-meal-color-second-breakfast recepie-meal-border p-2">
                        2 Śniadanie</div>
                    <div class="col-8 p-3 recepie-font">Chleb zapiecz w tosterze a następnie dodaj mozarelle...</div>
                    <div class="col-4 p-3 recepie-font">Śniadanie</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-12 align-items-center justify-content-center text-center recepie-container white-background m-1">
                <div class="d-flex row align-items-center align-items-stretch">
                    <div
                        class="d-flex align-items-center justify-content-center col-8 recepie-header-color recepie-header-font recepie-header-border p-2 min-height">
                        Rosół z kury</div>
                    <div
                        class="d-flex align-items-center justify-content-center col-4 recepie-meal-breakfast recepie-header-font recepie-meal-color-dinner recepie-meal-border p-2">
                        Obiad</div>
                    <div class="col-8 p-3 recepie-font">Ugotuj wodę , dodaj kurczaka i warzywa</div>
                    <div class="col-4 p-3 recepie-font">Obiad</div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}