<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{%static '/css/main.css'%}">
</head>

<body>
    <div class="container-fluid">
        <div class="row top-height align-items-center">
            <div class="col-lg-10 col-sm-8 col-6">
                <h1 class="logo">Disher</h1>
            </div>
            <div class="col-lg-1 col-sm-2 col-3 text-center menu-color">
                zarejestruj
            </div>
            <div class="col-lg-1 col-sm-2 col-3 text-center menu-color">
                zaloguj
            </div>
        </div>
        <div class="row m-1">
            <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                <label for="search" class="search-label mt-2 mb-2">Szukaj</label>
                <div class="input-group">
                    <input type="text" class="form-control search-input" id="search" aria-describedby="basic-addon3" placeholder="Wpisz czego szukasz">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/script.js' %}"></script>


</body>

</html>