{% extends "disher/base.html" %}
{% load static %}
{% block content %}
<div class="content-height" id="loader_container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="position-relative">
            <img src="/static/img/intro.svg" class="img-index">
            <div class="position-absolute top-50 start-50 translate-middle index-image-text">
                <div class="image-top-text">Jedz zdrowo</div>
                <div class="image-top-text-lower mt-1">Oszczędzaj czas i pieniądze</div>
                <div class="index-center-buttons">
                    <button
                        class="btn btn-danger btn-lg red-button index-button d-none d-sm-none d-md-block mt-4 rounded-pill py-3 px-5">Zaczynamy</button>
                    <button
                        class="btn btn-danger red-button btn-sm index-button d-md-none d-lg-none d-block mt-2 rounded-pill py-1 px-3 ">Zaczynamy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 mb-4">
            <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                <form action="" method="post" id="subscribeForm">
                    {% csrf_token %}
                    {{ form.as_p }}



                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="row">
                                    <div class="row">
                                        <div class="search-label col-lg-12 mt-3 mb-3">
                                            Zapisz się do newslettera
                                        </div>
                                    </div>
                                    <div class="col-lg-12  mt-2 mb-2">
                                        <div class="form-group col-12">
                                            <input type="email" class="form-control" id="user_email" name="user_email"
                                                placeholder="Podaj email" required>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2 mb-2 d-flex justify-content-center align-items-center">
                                        <button type="submit"
                                            class="btn btn-success rounded-pill py-2 px-4">Zapisz</button>
                                    </div>
                                </div>

                            </div>


                            <div class="col-lg-8 col-md-12">
                                <div class="row">
                                    <div class="search-label col-lg-12 mt-3 mb-3">
                                        Otrzymuj najnowsze przepisy
                                    </div>
                                </div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies nulla
                                convallis semper facilisis. Mauris tincidunt magna massa, et bibendum sapien pretium
                                vitae. Phasellus a malesuada tellus. Morbi ornare, mi ac venenatis viverra, lacus tellus
                                finibus quam, nec aliquam arcu dolor sed enim. Orci varius natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Fusce consequat lectus et dui hendrerit,
                                nec venenatis tellus gravida. Etiam imperdiet mi eget sapien cursus cursus. Nam purus
                                urna, sollicitudin ac pellentesque id, lobortis eu ipsum. Mauris eget condimentum nulla.
                                Nulla nisi turpis, dapibus id arcu venenatis, iaculis hendrerit sapien. Phasellus sem
                                odio, molestie ut mollis malesuada, consequat et libero. Nulla sollicitudin nunc non
                                dolor porttitor consequat. Cras arcu ante, ultricies eu bibendum sit amet, ullamcorper
                                ut dui. In ac libero convallis, placerat augue vitae, posuere justo.
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="content-container">
        <div class="row m-1">
            <div class="col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
                <label for="search" class="search-label mt-2 mb-2">Wyszukaj przepis</label>
                <div class="input-group">
                    <input type="text" class="form-control search-input" id="search" aria-describedby="basic-addon3"
                        placeholder="Wpisz czego szukasz"
                        onkeyup="searchRecepie('main', 'search', 'recepieContainer');">
                </div>
            </div>
        </div>
        <div class="container justify-content-center">
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="loader" id="spinner_container"></div>
            </div>
            <div class="row justify-content-center" id="recepieContainer">
            </div>
        </div>
        <div class="container mt-3">
            <div class="row justify-content-center">
                {% for recepie in recepies %}
                <div class="col-xl-3 col-lg-5 col-md-10  text-center recepie-container white-background m-3 recepie-search-result-container"
                    id="{{recepie.id}}">
                    <div class="d-flex row align-items-center align-items-stretch">
                        <div class="d-flex align-items-center justify-content-center col-12 recepie-header-color recepie-header-font recepie-header-border  p-2 min-height cursor header-text-shadow"
                            onclick="location.href='/recepie/{{recepie.slug}}'">
                            {{recepie.dish_name}}</div>
             
                        <div class="col-12 p-2">
                            <div class="row justify-content-around">

                                <div class="col-6">
                                    <div class="col-lg-12 p-1">
                                        <img src="/static/img/iconfire.svg" class="icon-size-15">
                                    </div>
                                    <div class="col-lg-12 recepie-font font-bold">
                                        {{recepie.dish_calories}} kcal
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-lg-12 p-1">
                                        <img src="/static/img/iconclock.svg" class="icon-size-15">
                                    </div>
                                    <div class="col-lg-12 recepie-font font-bold">
                                        {% if recepie.preparation_time == 'S' %}
                                        5-30 min
                                        {% elif recepie.preparation_time == 'M' %}
                                        30-60 min
                                        {% elif recepie.preparation_time == 'L' %}
                                        60+ min
                                        {% endif%}
                                    </div>
                                </div>
                        
                                <div class="col-12  recepie-font px-4 py-3 recepie-font-spacing d-block">
                                    <div class="col-12 min-h">
                                        {{recepie.dish_description}}
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {% endblock %}