{% extends "disher/base.html" %}
{% load static %}
{% block content %}


<div class="content-height" id="loader_container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
</div>

<div class="content-height" id="content-container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="col-8 recepie-container white-background mt-2 m-1" >
            <div class="row m-4 justify-content-center align-items-center ">
                <div class="col-lg-3 col-sm-2 mt-2  text-md-center text-lg-start text-center">Name:</div>
                <div class="col-lg-6 col-sm-6 mt-2  text-md-center text-lg-start  text-center text-break">Strachu</div>
                <div class="col-lg-2 col-sm-3 mt-2  btn btn-success">Zmień</div>
            </div>
            <div class="row m-4 justify-content-center align-items-center ">
                <div class="col-lg-3 col-sm-2 mt-2  text-md-center text-lg-start text-center">Email:</div>
                <div class="col-lg-6 col-sm-6 mt-2  text-md-center text-lg-start  text-center text-break">lukasz.stracburzyński@op.pl</div>
                <div class="col-lg-2 col-sm-3 mt-2  btn btn-success">Zmień</div>
            </div>
            <div class="row m-4 justify-content-center align-items-center ">
                <div class="col-lg-3 col-sm-2 mt-2  text-md-center text-lg-start text-center">Passowrd</div>
                <div class="col-lg-6 col-sm-6 mt-2  text-md-center text-lg-start  text-center">*******</div>
                <div class="col-lg-2 col-sm-3 mt-2  btn btn-success">Zmień</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}