{% extends "disher/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static '/css/dashboard.css'%}">
<link rel="stylesheet" href="{%static '/css/day.css'%}">
{% endblock %}
{% block content %}

<div class="content-height" id="loader_container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
</div>


<div class="container-fluid justify-content-center text-center align-items-center mt-5">
    <div class="row align-items-center justify-content-center m-1 ">
        <button class="btn btn-primary col-lg-2 col-md-4 col-8 generate-list-button-color">Eksportuj listę</button>
    </div>


    <div class="row d-flex align-items-center justify-content-center mt-2 m-1">
        <div class="d-flex col-12 align-items-center justify-content-center font-bold dark-font m-5">
            <div class="col-lg-1 col-2 d-flex justify-content-center">
                <div class="add-button-shoplist d-flex align-items-center justify-content-center cursor m-2">
                    <div class="minus-button"></div>
                </div>
            </div>
            <div class="person-font col-lg-2 col-6">Liczba osób: 1</div>
            <div class="col-lg-1 col-2 d-flex justify-content-center">
                <div class="add-button-shoplist d-flex align-items-center justify-content-center cursor m-1">
                    <div class="cross-button"></div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-around mb-1">
                <div class="col-lg-2  text-center dark-font font-bold">Produkt</div>
                <div class="col-lg-7  text-start dark-font font-bold ">Ilość</div>
                <div class="col-lg-2  text-center"></div>
            </div>
        </div>
        {% for item in shoplist_data%}
        <div class="col-12 d-flex align-items-center justify-content-center mt-2 m-1">
            <div
                class="col-lg-6 col-12 d-flex align-items-center justify-content-around  recepie-container  white-background cursor">
                <div class="col-lg-2  text-center m-3 font-bold cursor">{{item.0}}</div>
                <div class="col-lg-7  text-start cursor">{{item.1}} {{item.2}}</div>
                <div class="col-lg-2  text-center">usuń</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}